html
  font-family: sans-serif
  height: 100%

body
  height: 100%
  min-height: 100%
  min-width: 320px

  &.overflow
    overflow-y: hidden

.wrapper
  @media (max-width: 991px)
    padding-top: 60px

  @media (min-width: 768px)
    min-height: 100%
    height: auto !important
    height: 100%
    margin-bottom: -100px

  &::after
    @media (min-width: 768px)
      content: ""
      display: block
      height: 100px
      width: 100%

.page-content
  padding-top: 50px
  padding-bottom: 50px
