body
  color: $text_color
  font-family: 'Proxima Nova', Arial, sans-serif
  font-size: 14px
  line-height: 1.4
  overflow-wrap: break-word
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  @media(min-width: 992px)
    font-size: 16px

  @media(min-width: 1200px)
    font-size: 20px

a
  color: $secondary-color
  transition: color 0.3s
  text-decoration: none

  &:hover
    color: $primary-color

  &.text-color
    color: $text_color

    &:hover
      color: $secondary-color

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-weight: 700

h1,.h1
  font-size: 26px

h2,.h2
  font-size: 20px

h1,.h1,
h2,.h2
  line-height: 1.2

  @media(min-width: 1200px)
    font-size: 34px
    margin-bottom: 50px
    padding-left: 5%
    padding-right: 5%

h3,.h3
  font-size: 16px

  @media(min-width: 1200px)
    font-size: 24px
    line-height: 1.2
    padding-left: 5%
    padding-right: 5%

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
p,
ul,
ol,
table,
.table-responsive
  margin-top: 0
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0

table
  border-collapse: collapse
  max-width: 100%
  text-align: left
  width: 100%

  th,
  td
    border: none
    border-bottom: 1px solid
    padding: 10px
    vertical-align: top

img
  height: auto
  max-width: 100%
  vertical-align: top

.table-responsive,
.responsive-table
  display: block
  margin-bottom: 40px
  width: 100%
  overflow-x: auto
  -webkit-overflow-scrolling: touch

  &:last-child
    margin-bottom: 0

.markered-list
  list-style: none
  padding-left: 0

  @media(min-width: 1200px)
    margin-top: 40px
    margin-bottom: 40px

  li
    margin-bottom: 5px
    position: relative
    padding-left: 25px

    @media(min-width: 992px)
      padding-left: 30px

    @media(min-width: 1200px)
      margin-bottom: 15px
      padding-left: 40px

    &:last-child
      margin-bottom: 0

    &::before
      background: url('../images/vector/list-marker.svg') no-repeat 0 0 / 10px 10px transparent
      content: ''
      height: 10px
      left: 0
      position: absolute
      top: 0.7em
      transform: translateY(-50%)
      width: 10px

      @media(min-width: 992px)
        background-size: 14px 14px
        height: 14px
        width: 14px

      @media(min-width: 1200px)
        background-size: 15px 20px
        height: 20px
        width: 15px

.numbered-list
  counter-reset: myCounter
  list-style: none
  padding-left: 0

  @media(min-width: 1200px)
    margin-top: 40px
    margin-bottom: 40px

  li
    margin-bottom: 5px

    @media(min-width: 1200px)
      margin-bottom: 15px

    &::before
      counter-increment: myCounter
      content: counter(myCounter) '.)  '
      color: $secondary-color

.info-block1
  background-color: $secondary-color
  border-radius: 20px
  color: #fff
  margin-bottom: 40px
  padding: 20px

  @media(min-width: 768px)
    padding: 30px 8%

  @media(min-width: 1200px)
    font-size: 24px
    margin-bottom: 90px
    padding: 45px 16%

  &:last-child
    margin-bottom: 0

.info-block2
  border: 2px solid $secondary-color
  border-radius: 20px
  color: $secondary-color
  margin-bottom: 40px
  padding: 20px
  text-align: center

  @media(min-width: 768px)
    padding: 30px 8%

  @media(min-width: 1200px)
    margin-bottom: 90px
    padding: 50px 10%

  &:last-child
    margin-bottom: 0

  &--info_mark
    position: relative

    &::after
      align-items: center
      border: 1px solid $secondary-color
      border-radius: 50%
      color: $secondary-color
      content: '?'
      display: flex
      font-size: 20px
      height: 30px
      justify-content: center
      left: auto
      position: absolute
      right: 5px
      top: 5px
      width: 30px

.decorated-table-block
  border: 1px solid #d7d7d7
  border-radius: 10px
  margin-bottom: 30px

  @media(min-width: 768px)
    margin-bottom: 45px

  &:last-child
    margin-bottom: 0

.decorated-table
  &__title
    background-color: $primary-color
    border-bottom: none !important
    color: #fff

  tr
    &:last-child
      td
        border-bottom: none

  td
    border-bottom: 1px solid #d7d7d7

    @media(min-width: 1200px)
      padding-left: 50px
      padding-right: 50px

  .nowrap
    @media(max-width: 767px)
      white-space: normal

.indented-text1
  @media(min-width: 1200px)
    margin-left: 5%

.indented-text2
  @media(min-width: 1200px)
    margin-left: 10%

.indented-text3
  @media(min-width: 1200px)
    margin-left: 15%
