<h2>Акции</h2>
<div class="actions-slider-block">
  <div class="js-actions-slider actions-slider">
    <div class="actions-slider__slide">
      <a class="action" href="#">
        <span class="action__inner">
          <span class="action__description">
            <span class="action__title"><span class="action__title-text">Скидка 15%</span></span>
            <span class="action__feature">На адоминальную декомпрессию.</span>
            <span class="action__price">5900 руб.</span>
            <span class="action__address">Только в Приморском районе</span>
          </span>
          <span class="action__image"><img src="images/raster/content/img_13.jpg" alt="Скидка 15%" title="Скидка 15%"></span>
        </span>
      </a>
    </div>
    <div class="actions-slider__slide">
      <a class="action" href="#">
        <span class="action__inner">
          <span class="action__description">
            <span class="action__title"><span class="action__title-text">Прием уролога</span></span>
            <span class="action__feature">Прием андролога-уролога</span>
            <span class="action__price">550 руб*</span>
            <span class="action__address">Предложение действует в клинике на Комендантском пр., 17/1</span>
          </span>
          <span class="action__image"><img src="images/raster/content/img_14.jpg" alt="Прием уролога" title="Прием уролога"></span>
        </span>
      </a>
    </div>
    <div class="actions-slider__slide">
      <a class="action" href="#">
        <span class="action__inner">
          <span class="action__description">
            <span class="action__title"><span class="action__title-text">Уход за стопами</span></span>
            <span class="action__feature">Медицинский педикюр</span>
            <span class="action__price">2500 руб.</span>
            <span class="action__address">&nbsp;</span>
          </span>
          <span class="action__image"><img src="images/raster/content/img_15.jpg" alt="Уход за стопами" title="Уход за стопами"></span>
        </span>
      </a>
    </div>
    <div class="actions-slider__slide">
      <a class="action" href="#">
        <span class="action__inner">
          <span class="action__description">
            <span class="action__title"><span class="action__title-text">Динное название акции которое точно не поместится</span></span>
            <span class="action__feature">Скидка на сдачу анализов в выходные дни</span>
            <span class="action__price">25%</span>
            <span class="action__address">&nbsp;</span>
          </span>
          <span class="action__image"><img src="images/raster/content/img_15.jpg" alt="Уход за стопами" title="Уход за стопами"></span>
        </span>
      </a>
    </div>
  </div>
  <div class="more-block">
    <a class="more-link" href="javascript:void(0)"><span class="more-link__text">Все акции</span></a>
  </div>
</div>
