<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-container container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-7 col-lg-8 d-md-flex flex-column align-items-center">
              <a class="footer__logo" href="">
                <img width="336" height="76" src="images/logo.svg" alt="ЕвроМедика" title="ЕвроМедика" />
              </a>
              <div class="footer__social-block">
                <p class="footer__social-block-title">Мы в соцсетях:</p>
                <div class="social-links">
                  <a class="social-link" href="" target="_blank" title="vk.com"><svg class="social-link__icon social-link__icon--vk" aria-hidden="true"><use xlink:href="#vk"/></svg></a>
                  <a class="social-link" href="" target="_blank" title="facebook.com"><svg class="social-link__icon social-link__icon--fb" aria-hidden="true"><use xlink:href="#fb"/></svg></a>
                  <a class="social-link" href="" target="_blank" title="instagram.com"><svg class="social-link__icon social-link__icon--inst" aria-hidden="true"><use xlink:href="#inst"/></svg></a>
                  <a class="social-link" href="" target="_blank" title="youtube.com"><svg class="social-link__icon social-link__icon--yt" aria-hidden="true"><use xlink:href="#yt"/></svg></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-lg-4">
              <ul class="footer-menu">
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">О клинике</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">Направления</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">Наши врачи</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">Цены</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="actions.html"><span class="footer-menu__link-text">Акции</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">Лечение в Европе</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">Обучающий центр</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">HR отдел</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="news.html"><span class="footer-menu__link-text">Новости</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">Статьи</span></a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href=""><span class="footer-menu__link-text">Контакты</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p class="footer__about">Более 10 лет успешной работы!</p>
          <div class="row">
            <div class="col-md-5">
              <a class="footer__phone" href="tel:+78124540103">+7 (812) 454-01-03</a>
              <p class="footer__address-title">Адреса:</p>
              <p class="footer__address">Пр. Ветеранов, 16</p>
              <p class="footer__address">Комендантский пр., 17/1</p>
              <p class="footer__address">г.&nbsp;Сосновый&nbsp;Бор, ул.&nbsp;Молодежная, 9А&nbsp;МЦ&nbsp;"Панацея"</p>
            </div>
            <div class="col-md-7">
              <p class="footer__partners-title">Партнёры:</p>
              <div class="row">
                <div class="col-6"><a class="footer__partner" href="" target="_blank"><img src="images/raster/content/footer_partner1.png" alt="EM-line" title="EM-line"/></a></div>
                <div class="col-6"><a class="footer__partner" href="" target="_blank"><img src="images/raster/content/footer_partner3.png" alt="EM Group" title="EM Group"/></a></div>
                <div class="col-6"><a class="footer__partner" href="" target="_blank"><img src="images/raster/content/footer_partner2.png" alt="МЦ Панацея" title="МЦ Панацея"/></a></div>
                <div class="col-6"><a class="footer__partner" href="" target="_blank"><img src="images/raster/content/footer_partner4.png" alt="Супер Аптека" title="Супер Аптека"/></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__middle">
    <div class="footer__middle-container container">
      <div class="footer__copyright">2018 - ЕвроМедика<br> Все права защищены</div>
      <div class="footer__terms-block">
        <a class="footer__terms" href=""><span class="footer__terms-text">Пользовательское соглашение</span></a>
        <a class="footer__terms" href=""><span class="footer__terms-text">Политика конфиденциальности</span></a>
      </div>
      <div class="footer__developer">
        <span class="footer__developer-text">Сделано в <a class="footer__developer-link" href="http://azbuka.pro/" target="_blank"><img width="154" height="30" src="images/vector/azbuka.svg" alt="azbuka" title="azbuka.pro"/></a></span>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-container container">
      <div class="footer__education">
        <a class="footer__education-link" href=""><span class="footer__education-link-text">ОБУЧАЮЩИЙ ЦЕНТР</span></a>
      </div>
      <div class="footer__bottom-phone-block">
        <p class="footer__bottom-phone-title">Телефон контроля качества обслуживания</p>
        <a class="footer__bottom-phone" href="tel:+78003335920"><svg class="footer__bottom-phone-svg" aria-hidden="true"><use xlink:href="#phone"/></svg> 8 800 333 59 20</a>
      </div>
      <div class="footer__button-block">
        <button class="footer__button" type="button" data-fancybox="head_doctor" data-src="#head_doctor">СВЯЗАТЬСЯ С ГЛАВВРАЧОМ</button>
      </div>
    </div>
  </div>
</footer>
