<header class="header">
  <div class="header__top">
    <div class="header__top-container container">
      <div class="header__subways">
        <a class="header__subway subway" href="clinic.html"><span class="subway__icon"><svg class="subway__svg subway__svg--red" aria-hidden="true"><use xlink:href="#subway"/></svg></span><span class="subway__text">пр. Ветеранов, 16</span></a>
        <a class="header__subway subway" href="clinic.html"><span class="subway__icon"><svg class="subway__svg subway__svg--purple" aria-hidden="true"><use xlink:href="#subway"/></svg></span><span class="subway__text">Комендантский пр., 17/1</span></a>
      </div>
      <div class="header__search">
        <form class="search" action="search.html">
          <input class="search__input" name="search" type="text" value="" placeholder="Поиск...">
          <button class="search__button" type="submit" title="Искать"><svg class="search__icon" aria-hidden="true"><use xlink:href="#search"/></svg></button>
        </form>
      </div>
    </div>
  </div>
  <div class="header__middle">
    <div class="header__middle-container container">
      <a class="header__logo" href="main.html">
        <img class="header__logo-image-color" width="336" height="76" src="images/logo.svg" alt="ЕвроМедика" title="ЕвроМедика" />
        <img class="header__logo-image-white" width="336" height="76" src="images/logo--white.svg" alt="ЕвроМедика" title="ЕвроМедика" />
      </a>
      <div class="header__feature"><img width="90" height="81" src="images/vector/header_feature.svg" alt="11 лет на рынке" title="11 лет на рынке"></div>
      <div class="header__phone-block">
        <a class="header__phone" href="tel:+78124540103">+7 (812) 454-01-03</a>
        <p class="header__work-time">С 9 ДО 21</p>
      </div>
      <button class="js-search-opener search-opener" title="Поиск"><svg class="search-opener__icon" aria-hidden="true"><use xlink:href="#search"/></svg><span class="search-opener__close"></span></button>
      <div class="header__button-block">
        <a class="button button--secondary" data-fancybox="appointment" data-src="#appointment" href="javascript:void(0)">ЗАПИСЬ НА ПРИЕМ</a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-container container">
      <button class="js-menu-opener menu-opener" title="Главное меню"><span></span></button>
      <nav class="main-menu" role="navigation" aria-label="Основное меню">
        <ul class="main-menu__list">
          <li class="main-menu__item root" aria-haspopup="true">
            <a class="main-menu__link" href="">О клинике</a>
            <div class="main-menu__dropdown" aria-label="submenu">
              <ul class="secondary-menu">
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="about_boss.html">О руководителе</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Заметки ГлавВрача</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="vacancies.html">Вакансии</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="video.html">Видеогалерея</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="licenses.html">Лицензии</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="equipment.html">Оборудование</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Пресса о нас</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="reviews.html">Отзывы</a></li>
              </ul>
            </div>
          </li>
          <li class="main-menu__item root" aria-haspopup="true">
            <a class="main-menu__link" href="activities.html">Направления</a>
            <div class="main-menu__dropdown" aria-label="submenu">
              <ul class="secondary-menu">
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Гинекология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Урология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Проктология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">УЗИ</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Хирургия</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Флебология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Кардиология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Дерматология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Косметология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Неврология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Мануальная терапия</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Эндокринология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Лабораторные исследования</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Травматология-ортопедия</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Остеопатия</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Трихология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Диетология</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Кинезиотейпирование</a></li>
              </ul>
            </div>
          </li>
          <li class="main-menu__item"><a class="main-menu__link" href="doctors.html">Наши врачи</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="prices.html">Цены</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="actions.html">Акции</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="">Лечение за рубежом</a></li>
          <li class="main-menu__item root" aria-haspopup="true">
            <a class="main-menu__link" href="javascript:void(0)">Блог</a>
            <div class="main-menu__dropdown" aria-label="submenu">
              <ul class="secondary-menu">
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="">Статьи</a></li>
                <li class="secondary-menu__item"><a class="secondary-menu__link" href="news.html">Новости</a></li>
              </ul>
            </div>
          </li>
          <li class="main-menu__item"><a class="main-menu__link" href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
