<h2>Смотреть также</h2>
<div class="see-also-block">
  <div class="row">
    <div class="col-md-6">
      <a class="see-also" href="#" style="background-image: url('images/raster/content/see-also.jpg')">
        <span class="see-also__inner">
          <span class="see-also__title">Наши врачи</span>
          <span class="see-also__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</span>
        </span>
      </a>
    </div>
    <div class="col-md-6">
      <a class="see-also" href="#" style="background-image: url('images/raster/content/see-also.jpg')">
        <span class="see-also__inner">
          <span class="see-also__title">Заметки ГлавВрача</span>
          <span class="see-also__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</span>
        </span>
      </a>
    </div>
  </div>
</div>
