<div class="wide-block wide-block--form_block">
  <div class="container">
    <div class="text-block2">
      <form class="form form--inline" action="">
        <label class="form__label">
          <input class="input" type="text" name="user_name" value="" placeholder="Имя">
        </label>
        <label class="form__label">
          <input class="input" type="text" name="user_phone" value="" placeholder="Телефон">
        </label>
        <div class="form__button-block">
          <button class="form__button button button--secondary" type="submit">ЗАПИСЬ НА ПРИЁМ</button>
        </div>
      </form>
      <p class="text-center">Также вы можете позвонить по телефону: <a href="tel:+7812450103"><b>8&nbsp;(812)&nbsp;454&nbsp;01&nbsp;03</b></a></p>
      <p class="text-center"><small>Нажимая на кнопку "Записатьcя на прием", Вы даете Согласие на обработку персональных данных</small></p>
    </div>
  </div>
</div>
