.map
  height: 480px
  margin-bottom: 10px
  width: 100%

.contacts-info
  margin-bottom: 40px

  @media(min-width: 1200px)
    margin-bottom: 80px

.contacts-addresses
  @media(min-width: 1200px)
    font-size: 16px

  &__item
    margin-bottom: 40px

  h3
    @media(min-width: 1200px)
      padding-left: 0
      padding-right: 0

  p
    @media(min-width: 1200px)
      margin-bottom: 20px

  &__table
    width: auto

    td
      border-bottom: none
      padding: 3px

      &:first-child
        padding-left: 0
