.licenses
  @media(min-width: 1200px)
    margin-bottom: 40px
    padding-left: 4.166666%
    padding-right: 4.166666%

.license
  border: 2px solid $secondary-color
  display: block
  margin-bottom: 30px
  transition: border-color 0.3s

  &:hover
    border-color: $primary-color
