.videos-slider-block
  margin-bottom: 30px

  @media(min-width: 768px)
    margin-bottom: 50px

  @media(min-width: 992px)
    margin-bottom: 80px
    padding-left: 2.083333%
    padding-right: 2.083333%

  @media(min-width: 1200px)
    margin-bottom: 100px
    padding-left: 4.166666%
    padding-right: 4.166666%

.videos-slider
  display: flex
  flex-wrap: wrap
  margin-left: -15px
  margin-right: -15px

  &.slick-initialized
    .videos-slider__slide
      margin-bottom: 0

  &__slide
    margin-bottom: 30px
    padding-left: 15px
    padding-right: 15px
    width: 100%

    @media(min-width: 768px)
      width: 50%

    @media(min-width: 992px)
      width: 25%

  .video__button,
  .video__svg
    height: 65px
    width: 92px

.videos-links
  margin-bottom: 30px

  @media(min-width: 1200px)
    margin-bottom: 70px
    padding-left: 16.666667%
    padding-right: 16.666667%

.video-link
  color: $text-color
  padding-left: 25px
  position: relative

  @media(max-width: 1199px)
    color: $secondary-color
    text-decoration: underline

  @media(min-width: 768px)
    padding-left: 40px

  &:hover,
  &:focus
    color: $secondary-color
    text-decoration: underline

    .video-link__marker
      fill: $secondary-color

  &__marker
    fill: none
    height: 16px
    left: 0
    position: absolute
    stroke: $secondary-color
    top: 0
    transition: fill 0.3s
    width: 17px

    @media(min-width: 768px)
      height: 20px
